---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">文心一言</span>
    <span class="gpt-subtitle">百度出品，必属精品</span>
  </div>
  <p mt-1 op-60>Based on 文心大模型.</p>
  <a href="https://chatgpt.singee.site" class="block mt-4 px-4 py-3 border border-red/50 bg-red/10">
    <div class="text-red op-70 text-sm">百度提醒您：文心一言将停止服务，ChatGPT 更好用哦！<span class="font-black">点此跳转</span></div>
  </a>
</header>
